.footer {
    background-color: black;
    color: white;
    /*height: calc(100vh - 80px);*/
}

.footerContainer {
    width: 70%;
    margin: auto;
}

.footerContact {
    font-size: 30px;
    padding-top: 30px;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 100px 0 100px 0;
}

.contactInfo {
    width: 100%;
}

.listItem {
    margin: 20px 0;
}

.contactText {
    font-size: 20px;
}

.contactText a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.2s;
}

.place {
    margin-left: 20px;
}

.snsLinks {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.icon i {
    color: white;
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}

i:hover {
    border-color: white;
    transition: all 0.3s ease-out;
}


@media (max-width: 1024px) {
    .infoContainer {
        flex-direction: column-reverse;
        justify-content: space-around;
        margin: 30px 0 40px 0;
    }

    .snsLinks {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .snsLinks {
        margin-bottom: 10px;
    }
}