.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.scrolling {
    background-color: black;
    transition: all 0.5s ease;
}

.navbarLogo {
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
}

.navigation {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    z-index: 1;
    /*background-color: black;*/
    transition: all 0.5s ease;
    align-items: center;
}

.containerNav {
    height: 80px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-right: 50px;
}

.navigation a {
    text-decoration: none;
    outline: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button {
    background-color: white;
    border: none;
    padding: 7px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #eeeeee;
}


.navigation a:hover {
    border-bottom: 3px solid white;
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        max-width: 100%;
        z-index: 999;
        background-color: #000000;
        height: 150px;
        margin: auto;
        left: 0;
        /*padding: 10px 0;*/
        top: 70px;
        color: white;
    }

    ul {
        flex-direction: column;
    }

    li {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 2rem;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}